body {
  font-family: "Jost", sans-serif;
  font-size: 16px;

  background-color: var(--bg-color);
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 100vh;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
h1 {
  font-size: 8rem;
  color: var(--main-color);
}
p {
  color: var(--text-color);
}

.btn-gohome {
  margin-top: 1.5rem;
}
/*
.btn {
  display: inline-block;
  padding: 0.5rem 1rem;
  
  font-size: 1rem;
  color: var(--text-color);
  background-color: var(--main-color);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
}

.btn:hover {
  background-color: var(--main-color);
  color: var(--text-color-invert);
}

.btn-hollow {
  color: var(--main-color);
  background-color: transparent;
  border: 2px solid var(--main-color);
}*/
