.wavy-border-tb {
  --mask: radial-gradient(5.96px at 50% 8.25px, #000 99%, #0000 101%)
      calc(50% - 10px) 0/20px 51% repeat-x,
    radial-gradient(5.96px at 50% -3.25px, #0000 99%, #000 101%) 50% 5px/20px
      calc(51% - 5px) repeat-x,
    radial-gradient(5.96px at 50% calc(100% - 8.25px), #000 99%, #0000 101%) 50%
      100%/20px 51% repeat-x,
    radial-gradient(5.96px at 50% calc(100% + 3.25px), #0000 99%, #000 101%)
      calc(50% - 10px) calc(100% - 5px) / 20px calc(51% - 5px) repeat-x;
  -webkit-mask: var(--mask);
  mask: var(--mask);
}

.wavy-border-t {
  --mask: radial-gradient(5.96px at 50% 8.25px, #000 99%, #0000 101%)
      calc(50% - 10px) 0/20px 100%,
    radial-gradient(5.96px at 50% -3.25px, #0000 99%, #000 101%) 50% 5px/20px
      100% repeat-x;
  -webkit-mask: var(--mask);
  mask: var(--mask);
}
